body {
  color: #eee;
  font-family: sans-serif;
  background-color: #888;
  margin: 0;
}

div#layout {
  display: flex;
}

main {
  flex: 1;
  height: 100vh;
}

aside {
  width: 264px;
  background-color: #333;
}
