body {
  color: #eee;
  background-color: #888;
  margin: 0;
}

body, input, button, textarea {
  font-family: monospace;
}

main {
  height: 100vh;
}

aside {
  width: 264px;
  background-color: #333;
}

textarea {
  resize: vertical;
}

.flex {
  display: flex;
}

.expand {
  flex: 1;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.gap {
  gap: 4px;
}

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
}

.nowrap {
  white-space: nowrap;
}
