body {
  color: #eee;
  font-family: sans-serif;
  background-color: #888;
  margin: 0;
}

main {
  height: 100vh;
}

aside {
  width: 264px;
  background-color: #333;
}

textarea {
  resize: vertical;
}

.flex {
  display: flex;
}

.expand {
  flex: 1;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}
