body {
  color: #eee;
  background-color: #777;
  margin: 0;
}

body, input, button, textarea {
  font-family: monospace;
  font-size: 14px;
}

h1 {
  font-size: 20px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 16px;
}

h4, h5, h6 {
  font-size: 14px,
}

hr {
  border: solid #666 1px;
}

main {
  height: 100vh;
}

aside {
  width: 264px;
  background-color: #333;
  height: 100vh;
}

#side-view-doc {
  overflow-x: hidden;
  overflow-y: auto;
  min-height: 0;
  border: solid #444;
  border-width: 2px 0 2px 0;
}

ul {
  padding-inline-start: 20px;
}

pre {
  margin: 0 0 4px 0;
  padding: 4px;
  border: solid #444 2px;
  background-color: #222;
  overflow: hidden;
}

p > code, li > code {
  background-color: #222;
  border: solid #444 2px;
  padding-inline: 4px;
}

input[type=text], input[type=number], textarea, select {
  border: solid #666 2px;
  background-color: #fff;
}

button {
  border: solid #666 2px;
  background: #aaa;
}

button:active {
  border-color: #777;
  background: #bbb;
}

textarea {
  resize: vertical;
}

.pad {
  padding: 4px;
}

.flex {
  display: flex;
}

.expand {
  flex: 1;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.gap {
  gap: 4px;
}

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
}

.nowrap {
  white-space: nowrap;
}
